<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="src/test/php/bootstrap.php" colors="true">
	<testsuite name="Test Suite">
		<directory>src/test/php</directory>
	</testsuite>
	<filter>
		<whitelist>
			<directory suffix=".php">src/main/php</directory>
		</whitelist>
	</filter>
</phpunit>
